@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  color: white;
}

::placeholder {
  color:gray;
}

body{
  height: 90vh;
  background-color: black;

}

.Logo {
  font-size: 32px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
}
